*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header{
  background-color: black;
  width: 100vw;
  height: 50px;
}
.header p{
  color: ghostwhite;
  font-size: 23px;
  position: relative;
  top: 15px;
}
.mainContent{
  height: 500px;
  width: 90vw;
  margin: 10px 100px 10px 100px;
  background-color: black;

}
.gameSite{
  background-image: url("/pic/500_F_174986989_DXwTnIwzfrDugObOBIk2jGQvB1VVeS0h.jpg");

}