*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.gameSite{
  background-image: url("/pic/500_F_174986989_DXwTnIwzfrDugObOBIk2jGQvB1VVeS0h.jpg");

}
.header{
  background-color: black;
  width: 100vw;
  height: 50px;
}
.header p{
  color: ghostwhite;
  font-size: 23px;
  position: relative;
  top: 15px;
}
.mainContent{
  height: 500px;
  width: 90vw;
  margin: 10px 100px 10px 100px;
  background-color: black;

}
.news{
  position: relative;
  display: flex;
  justify-content: space-around;
  padding-top: 5px;
}
.newsOne,
.newsTwo,
.newsThree{
  width: 400px;
  height: 300px;
  background-color: mintcream;
}
.newsImg1{
  background-image: url("/pic/gameOne.jpg");
  background-size: cover;
  width: 400px;
  height: 300px;
}
.newsImg2{
  background-image: url("/pic/gameTwo.jpg");
  background-size: cover;
  width: 400px;
  height: 300px;
}
.newsImg3{
  background-image: url("/pic/gameThree.jpg");
  background-size: cover;
  width: 400px;
  height: 300px;
}